:root {
	--input-border-color: #666;
	--input-border-style: solid;
	--input-border-size: 1px;
	--input-border-radius: 5px;

	--input-padding-tb: 6px; /* 4px 8px */
	--input-padding-rl: 10px;
	--input-height: 40px; /* 26px (if you go over 32, select button on ff doesnt look nice) */

	--input-background: white;
	--input-color: black;
	--options-hover: #bbb;

	--form-background: white;

	--label-color: black;
	--heading-color: black;
}

/* this is so that I can make the actual css variables more specific */
$input-border-color: var(--input-border-color);
$input-border-style: var(--input-border-style);
$input-border-size: var(--input-border-size);
$input-border-radius: var(--input-border-radius);
$input-padding-rl: var(--input-padding-rl);
$input-padding-tb: var(--input-padding-tb);
$input-height: var(--input-height);
$input-background: var(--input-background);
$input-color: var(--input-color);
$options-hover: var(--options-hover);
$form-background: var(--form-background);
$label-color: var(--label-color);
$heading-color: var(--heading-color);

$input-border: $input-border-size $input-border-style $input-border-color;
$input-padding: $input-padding-tb $input-padding-rl;
$input-line-height: calc(#{$input-height} - (#{$input-padding-tb} * 2) - (#{$input-border-size} * 2));

* {
	box-sizing: border-box;
}

input:not([type="range"]):not([type="checkbox"]),
.checkbox label::before,
select {
	border: $input-border;
	border-radius: $input-border-radius;
	background: $input-background;
	color: $input-color;
}

input:not([type="range"]):not([type="checkbox"]):not([type="color"]),
select {
	display: block;
	padding: $input-padding;
	width: 100%;
	min-height: $input-height;
}

select option {
	background: $input-background;
}

input[type="range"] {
	display: block;
	border-radius: 5px;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

input[type="color"] {
	display: block;
	padding: 0px;
	width: 100%;
	min-height: $input-height; /* 26px */
}

label {
	color: $label-color;
}

.pretty-tooltip {
	:hover > & {
		opacity: 1;
		visibility: visible;
	}

	& {
		visibility: hidden;
		transition: 0.5s;
		opacity: 0;
		position: absolute;
		white-space: nowrap;
		padding: 8px 12px;
		color: white;
		background-color: #222;
		border-radius: 3px;
		box-shadow: 5px solid #0006;
	}

	/* position specific */
	& {
		right: -7px;
		top: 50%;
		transform: translate(100%, -50%);
	}

	&::after {
		content: " ";
		position: absolute;
		border-width: 5px;
		border-style: solid;
	}

	/* position specific */
	&::after {
		top: 50%;
		right: 100%;
		border-color: transparent #222 transparent transparent;
		margin-top: -5px;
	}
}

input {
	transition: 0.5s;
}

.invalid {
	box-shadow: 0 0 5px red inset;
}

/* darken on hover? */